# MongoDB Examples

#### Import of the pymongo distribution

In [1]:
import pymongo

#### Making a Connection with MongoClient

In [2]:
client = pymongo.MongoClient('localhost', 27017, username = "core", password = "654321")

#### List of all existing databases (you will get a different list)

In [3]:
client.list_database_names()

['admin',
 'brandinvestor',
 'brandinvestor4',
 'brandinvestor_test',
 'config',
 'core3dev',
 'core4dev',
 'database',
 'deichmann4',
 'dldemo',
 'local',
 'placetel',
 'salesadvisor',
 'test']

#### Instantiating a database object

In [4]:
db = client['db_test']

#### Instantianting a collection object

In [5]:
coll = db['coll_test']

#### Creation of a python dictionary

In [6]:
dic = {
       'first_name': 'Peter', 
       'last_name': 'Pan', 
       'age': 26,
       'gender' : 'm',
       'ages_of_children' : [10, 12], 
       'grades' : {'skiing' : 1, 'biking' : 5}, 
      }

In [7]:
dic

{'first_name': 'Peter',
 'last_name': 'Pan',
 'age': 26,
 'gender': 'm',
 'ages_of_children': [10, 12],
 'grades': {'skiing': 1, 'biking': 5}}

#### Insertion of the data into mongo collection - Creation of a document within mongodb

In [8]:
coll.insert_one(dic)

#### Count the documents within the collection

In [9]:
coll.count_documents({})

1

#### Find the document within the mongo collection

In [10]:
dic_new = coll.find_one({})

In [11]:
dic_new

{'_id': ObjectId('61c2eb5e324ee292764b7fb4'),
 'first_name': 'Peter',
 'last_name': 'Pan',
 'age': 26,
 'gender': 'm',
 'ages_of_children': [10, 12],
 'grades': {'skiing': 1, 'biking': 5}}

#### Deletion of all documents within the collection

In [12]:
coll.delete_many({})

#### Make sure the collection is empty

In [13]:
coll.count_documents({})

0

In [14]:
coll.find_one({})

#### Nested structures

In [15]:
dic1 = {
       'first_name': 'Max', 
       'last_name': 'Mustermann', 
       'age': 26,
       'gender' : 'm',
       'ages_of_children' : [10, 12], 
       'grades' : {'skiing' : 1, 'biking' : 5}, 
      }

In [16]:
dic2 = {
       'first_name': 'Peter', 
       'last_name': 'Pan', 
       'age': 26,
       'gender' : 'm',
       'ages_of_children' : [10, 12], 
       'grades' : {'skiing' : 1, 'biking' : 5},
       'dic1' : dic1,
       'list' : [1, 'Ich bin ein String', 0.234, dic1]
      }

In [17]:
coll.insert_one(dic2)

In [18]:
coll.delete_many({})

#### Creation of a list of dictionaries in python

In [19]:
list_of_dics = [
                 {
                   'first_name': 'Peter', 
                   'last_name': 'Pan', 
                   'age': 26,
                   'gender' : 'm',
                   'ages_of_children' : [10, 12], 
                   'grades' : {'skiing' : 1, 'biking' : 5}, 
                  },
                  {
                   'first_name': 'Marie', 
                   'last_name': 'Curie', 
                   'age': 25,
                   'gender' : 'f',
                   'ages_of_children' : [13], 
                   'grades' : {'skiing' : 5, 'biking' : 2}, 
                  },
                  {
                   'first_name': 'Julius', 
                   'last_name': 'CÃ¤sar', 
                   'age': 29,
                   'gender' : 'm',
                   'ages_of_children' : [7,7,7], 
                   'grades' : {'skiing' : 3, 'biking' : 4}, 
                  },
                  { 
                   'first_name': 'Hans', 
                   'last_name': 'Dampf', 
                   'age': 29,
                   'gender' : 'm',
                   'ages_of_children' : [0], 
                   'grades' : {'skiing' : 6, 'biking' : 6}, 
                  }
                ]

In [20]:
list_of_dics

[{'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'first_name': 'Julius',
  'last_name': 'CÃ¤sar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6}}]

Insert severeal documents at once in the mongodb collection

In [21]:
coll.insert_many(list_of_dics)

#### Count the documents within the collection

In [22]:
coll.count_documents({})

4

#### Create a mongo curser to find all documents within the collection

In [23]:
cursor = coll.find({})

In [24]:
import pprint

In [25]:
for dic in cursor:
    pprint.pprint(dic)

{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
 'age': 26,
 'ages_of_children': [10, 12],
 'first_name': 'Peter',
 'gender': 'm',
 'grades': {'biking': 5, 'skiing': 1},
 'last_name': 'Pan'}
{'_id': ObjectId('61c2ec37324ee292764b7fb7'),
 'age': 25,
 'ages_of_children': [13],
 'first_name': 'Marie',
 'gender': 'f',
 'grades': {'biking': 2, 'skiing': 5},
 'last_name': 'Curie'}
{'_id': ObjectId('61c2ec37324ee292764b7fb8'),
 'age': 29,
 'ages_of_children': [7, 7, 7],
 'first_name': 'Julius',
 'gender': 'm',
 'grades': {'biking': 4, 'skiing': 3},
 'last_name': 'CÃ¤sar'}
{'_id': ObjectId('61c2ec37324ee292764b7fb9'),
 'age': 29,
 'ages_of_children': [0],
 'first_name': 'Hans',
 'gender': 'm',
 'grades': {'biking': 6, 'skiing': 6},
 'last_name': 'Dampf'}

#### Insert all documents into a python list

In [26]:
list_of_documents_new = list(coll.find({}))

In [27]:
list_of_documents_new

[{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb7'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb8'),
  'first_name': 'Julius',
  'last_name': 'CÃ¤sar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb9'),
  'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6}}]

#### Convert this list into a pandas DataFrame

In [28]:
import pandas as pd

In [29]:
df = pd.DataFrame(list_of_documents_new)

In [30]:
df

,_id,first_name,last_name,age,gender,ages_of_children,grades
0,61c2ec37324ee292764b7fb6,Peter,Pan,26,m,"[10, 12]","{'skiing': 1, 'biking': 5}"
1,61c2ec37324ee292764b7fb7,Marie,Curie,25,f,[13],"{'skiing': 5, 'biking': 2}"
2,61c2ec37324ee292764b7fb8,Julius,CÃ¤sar,29,m,"[7, 7, 7]","{'skiing': 3, 'biking': 4}"
3,61c2ec37324ee292764b7fb9,Hans,Dampf,29,m,[0],"{'skiing': 6, 'biking': 6}"

In [33]:
df.to_dict("records")

[{'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'first_name': 'Julius',
  'last_name': 'CÃ¤sar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6}}]

In [32]:
del df['_id']

In [34]:
coll.insert_many(df.to_dict("records"))

#### Query specific documents within the collection by using a filter

In [35]:
# filter
query = {'last_name' : 'Curie'}
cursor = coll.find(query)

In [36]:
cursor.next()

{'_id': ObjectId('61c2ec37324ee292764b7fb7'),
 'first_name': 'Marie',
 'last_name': 'Curie',
 'age': 25,
 'gender': 'f',
 'ages_of_children': [13],
 'grades': {'skiing': 5, 'biking': 2}}

In [37]:
list(coll.find({'gender' : 'm'}))

[{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb8'),
  'first_name': 'Julius',
  'last_name': 'CÃ¤sar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb9'),
  'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fba'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbc'),
  'first_name': 'Julius',
  'last_name': 'CÃ¤sar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbd'),
  'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6}}]

In [38]:
list(coll.find({'age' : {"$lt" : 27}}))

[{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb7'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fba'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbb'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}}]

In [39]:
list(coll.find({'grades.skiing' : {"$lt" : 6}}))

[{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb7'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb8'),
  'first_name': 'Julius',
  'last_name': 'CÃ¤sar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fba'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbb'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbc'),
  'first_name': 'Julius',
  'last_name': 'CÃ¤sar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}}]

In [40]:
list(coll.find({'grades.skiing' : {"$lt" : 6}, 'age' : {"$gt" : 25} }))

[{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb8'),
  'first_name': 'Julius',
  'last_name': 'CÃ¤sar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fba'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbc'),
  'first_name': 'Julius',
  'last_name': 'CÃ¤sar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}}]

#### Updating documents

In [43]:
coll.update_many({"first_name": "Peter"}, {'$set' : {'eye_color' : 'brown'}})

In [44]:
list(coll.find({}))

[{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5},
  'hair_color': 'brown',
  'eye_color': 'brown'},
 {'_id': ObjectId('61c2ec37324ee292764b7fb7'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2},
  'hair_color': 'blond'},
 {'_id': ObjectId('61c2ec37324ee292764b7fb8'),
  'first_name': 'Julius',
  'last_name': 'CÃ¤sar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4},
  'hair_color': 'blond'},
 {'_id': ObjectId('61c2ec37324ee292764b7fb9'),
  'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6},
  'hair_color': 'blond'},
 {'_id': ObjectId('61c2ed6d324ee292764b7fba'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5},
  'hair_color': 'brown',
  'eye_color': 'brown'},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbb'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2},
  'hair_color': 'blond'},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbc'),
  'first_name': 'Julius',
  'last_name': 'CÃ¤sar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4},
  'hair_color': 'blond'},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbd'),
  'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6},
  'hair_color': 'blond'}]

In [45]:
import datetime as dt
from dateutil.relativedelta import relativedelta
now = dt.datetime.now()
now

datetime.datetime(2021, 12, 22, 10, 28, 29, 114149)

In [46]:
for doc in coll.find({}):
    coll.update_one({'_id' : doc['_id']}, {'$set' : {'birthday' : now - relativedelta(years = doc['age'])}})

In [47]:
df = pd.DataFrame(list(coll.find({})))

In [48]:
df

,_id,first_name,last_name,age,gender,ages_of_children,grades,hair_color,eye_color,birthday
0,61c2ec37324ee292764b7fb6,Peter,Pan,26,m,"[10, 12]","{'skiing': 1, 'biking': 5}",brown,brown,1995-12-22 10:28:29.114
1,61c2ec37324ee292764b7fb7,Marie,Curie,25,f,[13],"{'skiing': 5, 'biking': 2}",blond,NaN,1996-12-22 10:28:29.114
2,61c2ec37324ee292764b7fb8,Julius,CÃ¤sar,29,m,"[7, 7, 7]","{'skiing': 3, 'biking': 4}",blond,NaN,1992-12-22 10:28:29.114
3,61c2ec37324ee292764b7fb9,Hans,Dampf,29,m,[0],"{'skiing': 6, 'biking': 6}",blond,NaN,1992-12-22 10:28:29.114
4,61c2ed6d324ee292764b7fba,Peter,Pan,26,m,"[10, 12]","{'skiing': 1, 'biking': 5}",brown,brown,1995-12-22 10:28:29.114
5,61c2ed6d324ee292764b7fbb,Marie,Curie,25,f,[13],"{'skiing': 5, 'biking': 2}",blond,NaN,1996-12-22 10:28:29.114
6,61c2ed6d324ee292764b7fbc,Julius,CÃ¤sar,29,m,"[7, 7, 7]","{'skiing': 3, 'biking': 4}",blond,NaN,1992-12-22 10:28:29.114
7,61c2ed6d324ee292764b7fbd,Hans,Dampf,29,m,[0],"{'skiing': 6, 'biking': 6}",blond,NaN,1992-12-22 10:28:29.114

#### Removing documents

In [ ]:
df.shape

In [50]:
coll.delete_many({'age' : 29})

In [ ]:
list(coll.find({}))

In [51]:
coll.update_many({'first_name' : 'Marie'},{"$push" : {'ages_of_children' : 2}})

In [53]:
coll.update_many({'first_name' : 'Marie'},{"$set" : {'ages_of_children' : [13, 2]}})

In [54]:
list(coll.find({'first_name' : 'Marie'}))

[{'_id': ObjectId('61c2ec37324ee292764b7fb7'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13, 2],
  'grades': {'skiing': 5, 'biking': 2},
  'hair_color': 'blond',
  'birthday': datetime.datetime(1996, 12, 22, 10, 28, 29, 114000)},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbb'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13, 2],
  'grades': {'skiing': 5, 'biking': 2},
  'hair_color': 'blond',
  'birthday': datetime.datetime(1996, 12, 22, 10, 28, 29, 114000)}]

In [55]:
coll.update_many({'first_name' : 'Marie'},{"$push" : {'ages_of_children' : { "$each": [ 11, 14 ] } }})

In [ ]:
coll.find_one({'first_name' : 'Marie'})

In [56]:
coll.update_one({'first_name' : 'Marie'},{"$push" : {'ages_of_children' : 14}})

In [ ]:
coll.find_one({'first_name' : 'Marie'})

In [57]:
coll.update_one({'first_name' : 'Marie'},{"$pull" : {'ages_of_children' : 14}})

In [ ]:
coll.find_one({'first_name' : 'Marie'})

In [58]:
coll.update_one({'first_name' : 'Marie'},{"$addToSet" : {'ages_of_children' : 14}})

In [ ]:
coll.find_one({'first_name' : 'Marie'})

In [59]:
coll.update_one({'first_name' : 'Marie'},{"$addToSet" : {'ages_of_children' : 14}})

In [ ]:
coll.find_one({'first_name' : 'Marie'})

#### Getting a file using gridfs

In [62]:
from gridfs import GridFS

In [60]:
db_dldemo = client['dldemo']

In [61]:
db_dldemo.list_collection_names()

['fs.files', 'fs.chunks']

In [63]:
fs = GridFS(db_dldemo)

In [64]:
filenames = fs.list()

In [65]:
filenames

['https://www.agof.de/?wpfb_dl=6697',
 'https://www.agof.de/?wpfb_dl=6706',
 'https://www.agof.de/?wpfb_dl=6710',
 'https://www.agof.de/?wpfb_dl=6738',
 'https://www.agof.de/?wpfb_dl=6745',
 'https://www.agof.de/?wpfb_dl=6749',
 'https://www.agof.de/?wpfb_dl=6765',
 'https://www.agof.de/?wpfb_dl=6768',
 'https://www.agof.de/?wpfb_dl=6771',
 'https://www.agof.de/?wpfb_dl=6799',
 'https://www.agof.de/?wpfb_dl=6800',
 'https://www.agof.de/?wpfb_dl=6804',
 'https://www.agof.de/?wpfb_dl=6822',
 'https://www.agof.de/?wpfb_dl=6824',
 'https://www.agof.de/?wpfb_dl=6833',
 'https://www.agof.de/?wpfb_dl=6856',
 'https://www.agof.de/?wpfb_dl=6857',
 'https://www.agof.de/?wpfb_dl=6858',
 'https://www.agof.de/?wpfb_dl=6901',
 'https://www.agof.de/?wpfb_dl=6906',
 'https://www.agof.de/?wpfb_dl=6914',
 'https://www.agof.de/?wpfb_dl=6933',
 'https://www.agof.de/?wpfb_dl=6936',
 'https://www.agof.de/?wpfb_dl=6939',
 'https://www.agof.de/?wpfb_dl=6971',
 'https://www.agof.de/?wpfb_dl=6973',
 'https://www.agof.de/?wpfb_dl=6974',
 'https://www.agof.de/?wpfb_dl=6983',
 'https://www.agof.de/?wpfb_dl=6987',
 'https://www.agof.de/?wpfb_dl=6996',
 'https://www.agof.de/?wpfb_dl=7021',
 'https://www.agof.de/?wpfb_dl=7023',
 'https://www.agof.de/?wpfb_dl=7027',
 'https://www.agof.de/?wpfb_dl=7054',
 'https://www.agof.de/?wpfb_dl=7060',
 'https://www.agof.de/?wpfb_dl=7063',
 'https://www.agof.de/?wpfb_dl=7095',
 'https://www.agof.de/?wpfb_dl=7098',
 'https://www.agof.de/?wpfb_dl=7107',
 'https://www.agof.de/?wpfb_dl=7169',
 'https://www.agof.de/?wpfb_dl=7175',
 'https://www.agof.de/?wpfb_dl=7177',
 'https://www.agof.de/?wpfb_dl=7204',
 'https://www.agof.de/?wpfb_dl=7207',
 'https://www.agof.de/?wpfb_dl=7213',
 'https://www.agof.de/?wpfb_dl=7232',
 'https://www.agof.de/?wpfb_dl=7233',
 'https://www.agof.de/?wpfb_dl=7239',
 'https://www.agof.de/?wpfb_dl=7265',
 'https://www.agof.de/?wpfb_dl=7270',
 'https://www.agof.de/?wpfb_dl=7272',
 'https://www.agof.de/?wpfb_dl=7295',
 'https://www.agof.de/?wpfb_dl=7297',
 'https://www.agof.de/?wpfb_dl=7305',
 'https://www.agof.de/?wpfb_dl=7350',
 'https://www.agof.de/?wpfb_dl=7351',
 'https://www.agof.de/?wpfb_dl=7353',
 'https://www.agof.de/?wpfb_dl=7380',
 'https://www.agof.de/?wpfb_dl=7389',
 'https://www.agof.de/?wpfb_dl=7391',
 'https://www.agof.de/?wpfb_dl=7419',
 'https://www.agof.de/?wpfb_dl=7423',
 'https://www.agof.de/?wpfb_dl=7424',
 'https://www.agof.de/?wpfb_dl=7443',
 'https://www.agof.de/?wpfb_dl=7444',
 'https://www.agof.de/?wpfb_dl=7453',
 'https://www.agof.de/?wpfb_dl=7487',
 'https://www.agof.de/?wpfb_dl=7492',
 'https://www.agof.de/?wpfb_dl=7497',
 'https://www.agof.de/?wpfb_dl=7514',
 'https://www.agof.de/?wpfb_dl=7517',
 'https://www.agof.de/?wpfb_dl=7519',
 'https://www.agof.de/?wpfb_dl=7556',
 'https://www.agof.de/?wpfb_dl=7560',
 'https://www.agof.de/?wpfb_dl=7561',
 'https://www.agof.de/?wpfb_dl=7582',
 'https://www.agof.de/?wpfb_dl=7583',
 'https://www.agof.de/?wpfb_dl=7584',
 'https://www.agof.de/?wpfb_dl=7614',
 'https://www.agof.de/?wpfb_dl=7619',
 'https://www.agof.de/?wpfb_dl=7620',
 'https://www.agof.de/?wpfb_dl=7633',
 'https://www.agof.de/?wpfb_dl=7636',
 'https://www.agof.de/?wpfb_dl=7644',
 'https://www.agof.de/?wpfb_dl=7680',
 'https://www.agof.de/?wpfb_dl=7686',
 'https://www.agof.de/?wpfb_dl=7689',
 'https://www.agof.de/?wpfb_dl=7705',
 'https://www.agof.de/?wpfb_dl=7708',
 'https://www.agof.de/?wpfb_dl=7711',
 'https://www.agof.de/?wpfb_dl=7736',
 'https://www.agof.de/?wpfb_dl=7738',
 'https://www.agof.de/?wpfb_dl=7741',
 'https://www.agof.de/?wpfb_dl=7764',
 'https://www.agof.de/?wpfb_dl=7772',
 'https://www.agof.de/?wpfb_dl=7773',
 'https://www.agof.de/?wpfb_dl=7840',
 'https://www.agof.de/?wpfb_dl=7841',
 'https://www.agof.de/?wpfb_dl=7842',
 'https://www.agof.de/?wpfb_dl=7871',
 'https://www.agof.de/?wpfb_dl=7878',
 'https://www.agof.de/?wpfb_dl=7901',
 'https://www.agof.de/?wpfb_dl=7914',
 'https://www.agof.de/?wpfb_dl=7923',
 'https://www.agof.de/?wpfb_dl=7924',
 'https://www.agof.de/?wpfb_dl=7938',
 'https://www.agof.de/?wpfb_dl=7943',
 'https://www.agof.de/?wpfb_dl=7951',
 'https://www.agof.de/?wpfb_dl=7978',
 'https://www.agof.de/?wpfb_dl=7981',
 'https://www.agof.de/?wpfb_dl=7984',
 'https://www.agof.de/?wpfb_dl=8014',
 'https://www.agof.de/?wpfb_dl=8020',
 'https://www.agof.de/?wpfb_dl=8021',
 'https://www.agof.de/?wpfb_dl=8053',
 'https://www.agof.de/?wpfb_dl=8054',
 'https://www.agof.de/?wpfb_dl=8057',
 'https://www.agof.de/?wpfb_dl=8088',
 'https://www.agof.de/?wpfb_dl=8093',
 'https://www.agof.de/?wpfb_dl=8096',
 'https://www.agof.de/?wpfb_dl=8122',
 'https://www.agof.de/?wpfb_dl=8124',
 'https://www.agof.de/?wpfb_dl=8131',
 'https://www.agof.de/?wpfb_dl=8150',
 'https://www.agof.de/?wpfb_dl=8159',
 'https://www.agof.de/?wpfb_dl=8164',
 'https://www.agof.de/?wpfb_dl=8186',
 'https://www.agof.de/?wpfb_dl=8188',
 'https://www.agof.de/?wpfb_dl=8191',
 'https://www.agof.de/?wpfb_dl=8220',
 'https://www.agof.de/?wpfb_dl=8222',
 'https://www.agof.de/?wpfb_dl=8231',
 'https://www.agof.de/?wpfb_dl=8248',
 'https://www.agof.de/?wpfb_dl=8249',
 'https://www.agof.de/?wpfb_dl=8254']

In [66]:
file_name = filenames[0]

In [67]:
from io import BytesIO

In [68]:
fh = fs.get_last_version(file_name)

In [69]:
body = BytesIO(fh.read())
body.seek(0)

0

In [70]:
df = pd.read_excel(body, header=None)

In [71]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Analyse,daily digital facts 15.08.2017 / Rangreihe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grundgesamtheit,10 Jahre und Ã¤lter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Zeitraum,April 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Vorfilter,Nutzer mobiler und/oder stationÃ¤rer Angebote (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,"(150.422 ungew. FÃ¤lle, 150.422 gew. FÃ¤lle, 58,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,Vaihinger Kreiszeitung OMS,df,Digitales Gesamtangebot,32,32,0,0.01,0.02,NaN,NaN,NaN,NaN,NaN
723,Viewster,df,Digitales Gesamtangebot,52,52,0,0.01,0.93,NaN,NaN,NaN,NaN,NaN
724,WELLE NIEDERRHEIN OMS,df,Digitales Gesamtangebot,73,73,0,0.03,0.11,NaN,NaN,NaN,NaN,NaN
725,Wirtschaft,df,Digitales Gesamtangebot,23,23,0,0.02,0.02,NaN,NaN,NaN,NaN,NaN
726,WWE Deutschland,df,Digitales Gesamtangebot,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN