Import of the pymongo distribution

In [1]:
import pymongo

Making a Connection with MongoClient

In [2]:
client = pymongo.MongoClient('localhost', 27017, username = "core", password = "654321")

List of all existing databases

In [3]:
client.list_database_names()

['admin',
 'brandinvestor',
 'brandinvestor4',
 'brandinvestor_test',
 'config',
 'core3dev',
 'core4dev',
 'database',
 'deichmann4',
 'dldemo',
 'local',
 'placetel',
 'salesadvisor',
 'test']

Instantiating a database object

In [4]:
db = client['db_test']

Instantianting a collection object

In [5]:
coll = db['coll_test']

Creation of a python dictionary

In [6]:
dic = {
       'first_name': 'Peter', 
       'last_name': 'Pan', 
       'age': 26,
       'gender' : 'm',
       'ages_of_children' : [10, 12], 
       'grades' : {'skiing' : 1, 'biking' : 5}, 
      }

Insertion of the data into mongo collection - Creation of a document within mongodb

In [7]:
coll.insert_one(dic)

Count the documents within the collection

In [12]:
coll.count_documents({})

2

Find the document within the mongo collection

In [13]:
dic_new = coll.find_one({})

In [14]:
dic_new

{'_id': ObjectId('5dd7d3ef8649564aa01036c1'),
 'age': 26,
 'ages_of_children': [10, 12],
 'first_name': 'Peter',
 'gender': 'm',
 'grades': {'biking': 5, 'skiing': 1},
 'last_name': 'Pan'}

Deletion of all documents within the collection

In [15]:
coll.delete_many({})

Make sure the collection is empty

In [16]:
coll.count_documents({})

0

In [18]:
coll.find_one({})

Verschachtelte Strukturen

In [19]:
dic1 = {
       'first_name': 'Max', 
       'last_name': 'Mustermann', 
       'age': 26,
       'gender' : 'm',
       'ages_of_children' : [10, 12], 
       'grades' : {'skiing' : 1, 'biking' : 5}, 
      }

In [20]:
dic2 = {
       'first_name': 'Peter', 
       'last_name': 'Pan', 
       'age': 26,
       'gender' : 'm',
       'ages_of_children' : [10, 12], 
       'grades' : {'skiing' : 1, 'biking' : 5},
       'dic1' : dic1,
       'list' : [1, 'Ich bin ein String', 0.234, dic1]
      }

In [22]:
coll.insert_one(dic2)

DuplicateKeyError: E11000 duplicate key error collection: driverlicense.test index: _id_ dup key: { : ObjectId('5dd7d5668649564aa01036c3') }

In [24]:
coll.delete_many({})

Creation of a list of dictionaries in python

In [25]:
list_of_dics = [
                 {
                   'first_name': 'Peter', 
                   'last_name': 'Pan', 
                   'age': 26,
                   'gender' : 'm',
                   'ages_of_children' : [10, 12], 
                   'grades' : {'skiing' : 1, 'biking' : 5}, 
                  },
                  {
                   'first_name': 'Marie', 
                   'last_name': 'Curie', 
                   'age': 25,
                   'gender' : 'f',
                   'ages_of_children' : [13], 
                   'grades' : {'skiing' : 5, 'biking' : 2}, 
                  },
                  {
                   'first_name': 'Julius', 
                   'last_name': 'Cäsar', 
                   'age': 29,
                   'gender' : 'm',
                   'ages_of_children' : [7,7,7], 
                   'grades' : {'skiing' : 3, 'biking' : 4}, 
                  },
                  { 
                   'first_name': 'Hans', 
                   'last_name': 'Dampf', 
                   'age': 29,
                   'gender' : 'm',
                   'ages_of_children' : [0], 
                   'grades' : {'skiing' : 6, 'biking' : 6}, 
                  }
                ]

In [28]:
list_of_dics

[{'_id': ObjectId('5dd7d5f88649564aa01036c4'),
  'age': 26,
  'ages_of_children': [10, 12],
  'first_name': 'Peter',
  'gender': 'm',
  'grades': {'biking': 5, 'skiing': 1},
  'last_name': 'Pan'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c5'),
  'age': 25,
  'ages_of_children': [13],
  'first_name': 'Marie',
  'gender': 'f',
  'grades': {'biking': 2, 'skiing': 5},
  'last_name': 'Curie'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c6'),
  'age': 29,
  'ages_of_children': [7, 7, 7],
  'first_name': 'Julius',
  'gender': 'm',
  'grades': {'biking': 4, 'skiing': 3},
  'last_name': 'Cäsar'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c7'),
  'age': 29,
  'ages_of_children': [0],
  'first_name': 'Hans',
  'gender': 'm',
  'grades': {'biking': 6, 'skiing': 6},
  'last_name': 'Dampf'}]

Insert severeal documents at once in the mongodb collection

In [29]:
coll.insert_many(list_of_dics)

BulkWriteError: batch op errors occurred

Count the documents within the collection

In [30]:
coll.count_documents({})

4

Create a mongo curser to find all documents within the collection

In [31]:
cursor = coll.find({})

In [32]:
import pprint

In [33]:
for dic in cursor:
    pprint.pprint(dic)

{'_id': ObjectId('5dd7d5f88649564aa01036c4'),
 'age': 26,
 'ages_of_children': [10, 12],
 'first_name': 'Peter',
 'gender': 'm',
 'grades': {'biking': 5, 'skiing': 1},
 'last_name': 'Pan'}
{'_id': ObjectId('5dd7d5f88649564aa01036c5'),
 'age': 25,
 'ages_of_children': [13],
 'first_name': 'Marie',
 'gender': 'f',
 'grades': {'biking': 2, 'skiing': 5},
 'last_name': 'Curie'}
{'_id': ObjectId('5dd7d5f88649564aa01036c6'),
 'age': 29,
 'ages_of_children': [7, 7, 7],
 'first_name': 'Julius',
 'gender': 'm',
 'grades': {'biking': 4, 'skiing': 3},
 'last_name': 'Cäsar'}
{'_id': ObjectId('5dd7d5f88649564aa01036c7'),
 'age': 29,
 'ages_of_children': [0],
 'first_name': 'Hans',
 'gender': 'm',
 'grades': {'biking': 6, 'skiing': 6},
 'last_name': 'Dampf'}

Insert all documents into a python list

In [34]:
list_of_documents_new = list(coll.find({}))

In [35]:
list_of_documents_new

[{'_id': ObjectId('5dd7d5f88649564aa01036c4'),
  'age': 26,
  'ages_of_children': [10, 12],
  'first_name': 'Peter',
  'gender': 'm',
  'grades': {'biking': 5, 'skiing': 1},
  'last_name': 'Pan'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c5'),
  'age': 25,
  'ages_of_children': [13],
  'first_name': 'Marie',
  'gender': 'f',
  'grades': {'biking': 2, 'skiing': 5},
  'last_name': 'Curie'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c6'),
  'age': 29,
  'ages_of_children': [7, 7, 7],
  'first_name': 'Julius',
  'gender': 'm',
  'grades': {'biking': 4, 'skiing': 3},
  'last_name': 'Cäsar'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c7'),
  'age': 29,
  'ages_of_children': [0],
  'first_name': 'Hans',
  'gender': 'm',
  'grades': {'biking': 6, 'skiing': 6},
  'last_name': 'Dampf'}]

Convert this list into a pandas DataFrame

In [36]:
import pandas as pd

In [37]:
df = pd.DataFrame(list_of_documents_new)

In [38]:
df

,_id,age,ages_of_children,first_name,gender,grades,last_name
0,5dd7d5f88649564aa01036c4,26,"[10, 12]",Peter,m,"{'skiing': 1, 'biking': 5}",Pan
1,5dd7d5f88649564aa01036c5,25,[13],Marie,f,"{'skiing': 5, 'biking': 2}",Curie
2,5dd7d5f88649564aa01036c6,29,"[7, 7, 7]",Julius,m,"{'skiing': 3, 'biking': 4}",Cäsar
3,5dd7d5f88649564aa01036c7,29,[0],Hans,m,"{'skiing': 6, 'biking': 6}",Dampf

Query specific documents within the collection by using a filter

In [39]:
# filter
query = {'last_name' : 'Curie'}
cursor = coll.find(query)

In [40]:
cursor.next()

{'_id': ObjectId('5dd7d5f88649564aa01036c5'),
 'age': 25,
 'ages_of_children': [13],
 'first_name': 'Marie',
 'gender': 'f',
 'grades': {'biking': 2, 'skiing': 5},
 'last_name': 'Curie'}

In [41]:
list(coll.find({'gender' : 'm'}))

[{'_id': ObjectId('5dd7d5f88649564aa01036c4'),
  'age': 26,
  'ages_of_children': [10, 12],
  'first_name': 'Peter',
  'gender': 'm',
  'grades': {'biking': 5, 'skiing': 1},
  'last_name': 'Pan'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c6'),
  'age': 29,
  'ages_of_children': [7, 7, 7],
  'first_name': 'Julius',
  'gender': 'm',
  'grades': {'biking': 4, 'skiing': 3},
  'last_name': 'Cäsar'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c7'),
  'age': 29,
  'ages_of_children': [0],
  'first_name': 'Hans',
  'gender': 'm',
  'grades': {'biking': 6, 'skiing': 6},
  'last_name': 'Dampf'}]

In [42]:
list(coll.find({'age' : {"$lt" : 27}}))

[{'_id': ObjectId('5dd7d5f88649564aa01036c4'),
  'age': 26,
  'ages_of_children': [10, 12],
  'first_name': 'Peter',
  'gender': 'm',
  'grades': {'biking': 5, 'skiing': 1},
  'last_name': 'Pan'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c5'),
  'age': 25,
  'ages_of_children': [13],
  'first_name': 'Marie',
  'gender': 'f',
  'grades': {'biking': 2, 'skiing': 5},
  'last_name': 'Curie'}]

In [43]:
list(coll.find({'grades.skiing' : {"$lt" : 6}}))

[{'_id': ObjectId('5dd7d5f88649564aa01036c4'),
  'age': 26,
  'ages_of_children': [10, 12],
  'first_name': 'Peter',
  'gender': 'm',
  'grades': {'biking': 5, 'skiing': 1},
  'last_name': 'Pan'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c5'),
  'age': 25,
  'ages_of_children': [13],
  'first_name': 'Marie',
  'gender': 'f',
  'grades': {'biking': 2, 'skiing': 5},
  'last_name': 'Curie'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c6'),
  'age': 29,
  'ages_of_children': [7, 7, 7],
  'first_name': 'Julius',
  'gender': 'm',
  'grades': {'biking': 4, 'skiing': 3},
  'last_name': 'Cäsar'}]

In [44]:
list(coll.find({'grades.skiing' : {"$lt" : 6}, 'age' : {"$gt" : 25} }))

[{'_id': ObjectId('5dd7d5f88649564aa01036c4'),
  'age': 26,
  'ages_of_children': [10, 12],
  'first_name': 'Peter',
  'gender': 'm',
  'grades': {'biking': 5, 'skiing': 1},
  'last_name': 'Pan'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c6'),
  'age': 29,
  'ages_of_children': [7, 7, 7],
  'first_name': 'Julius',
  'gender': 'm',
  'grades': {'biking': 4, 'skiing': 3},
  'last_name': 'Cäsar'}]

Updating documents

In [45]:
coll.update_many({}, {'$set' : {'hair_color' : 'blond'}})

In [46]:
list(coll.find({}))

[{'_id': ObjectId('5dd7d5f88649564aa01036c4'),
  'age': 26,
  'ages_of_children': [10, 12],
  'first_name': 'Peter',
  'gender': 'm',
  'grades': {'biking': 5, 'skiing': 1},
  'hair_color': 'blond',
  'last_name': 'Pan'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c5'),
  'age': 25,
  'ages_of_children': [13],
  'first_name': 'Marie',
  'gender': 'f',
  'grades': {'biking': 2, 'skiing': 5},
  'hair_color': 'blond',
  'last_name': 'Curie'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c6'),
  'age': 29,
  'ages_of_children': [7, 7, 7],
  'first_name': 'Julius',
  'gender': 'm',
  'grades': {'biking': 4, 'skiing': 3},
  'hair_color': 'blond',
  'last_name': 'Cäsar'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c7'),
  'age': 29,
  'ages_of_children': [0],
  'first_name': 'Hans',
  'gender': 'm',
  'grades': {'biking': 6, 'skiing': 6},
  'hair_color': 'blond',
  'last_name': 'Dampf'}]

In [47]:
coll.update_many({}, {'$inc' : {'age' : 100}})

In [48]:
list(coll.find({}))

[{'_id': ObjectId('5dd7d5f88649564aa01036c4'),
  'age': 126,
  'ages_of_children': [10, 12],
  'first_name': 'Peter',
  'gender': 'm',
  'grades': {'biking': 5, 'skiing': 1},
  'hair_color': 'blond',
  'last_name': 'Pan'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c5'),
  'age': 125,
  'ages_of_children': [13],
  'first_name': 'Marie',
  'gender': 'f',
  'grades': {'biking': 2, 'skiing': 5},
  'hair_color': 'blond',
  'last_name': 'Curie'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c6'),
  'age': 129,
  'ages_of_children': [7, 7, 7],
  'first_name': 'Julius',
  'gender': 'm',
  'grades': {'biking': 4, 'skiing': 3},
  'hair_color': 'blond',
  'last_name': 'Cäsar'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c7'),
  'age': 129,
  'ages_of_children': [0],
  'first_name': 'Hans',
  'gender': 'm',
  'grades': {'biking': 6, 'skiing': 6},
  'hair_color': 'blond',
  'last_name': 'Dampf'}]

In [49]:
import datetime as dt
from dateutil.relativedelta import relativedelta
now = dt.datetime.now()
now

datetime.datetime(2019, 11, 22, 13, 41, 52, 422323)

In [50]:
for doc in coll.find({}):
    coll.update_one({'_id' : doc['_id']}, {'$set' : {'birthday' : now - relativedelta(years = doc['age'])}})

In [51]:
pd.DataFrame(list(coll.find({})))

,_id,age,ages_of_children,birthday,first_name,gender,grades,hair_color,last_name
0,5dd7d5f88649564aa01036c4,126,"[10, 12]",1893-11-22 13:41:52.422,Peter,m,"{'skiing': 1, 'biking': 5}",blond,Pan
1,5dd7d5f88649564aa01036c5,125,[13],1894-11-22 13:41:52.422,Marie,f,"{'skiing': 5, 'biking': 2}",blond,Curie
2,5dd7d5f88649564aa01036c6,129,"[7, 7, 7]",1890-11-22 13:41:52.422,Julius,m,"{'skiing': 3, 'biking': 4}",blond,Cäsar
3,5dd7d5f88649564aa01036c7,129,[0],1890-11-22 13:41:52.422,Hans,m,"{'skiing': 6, 'biking': 6}",blond,Dampf

Removing documents

In [52]:
coll.delete_many({'age' : 129})

In [53]:
list(coll.find({}))

[{'_id': ObjectId('5dd7d5f88649564aa01036c4'),
  'age': 126,
  'ages_of_children': [10, 12],
  'birthday': datetime.datetime(1893, 11, 22, 13, 41, 52, 422000),
  'first_name': 'Peter',
  'gender': 'm',
  'grades': {'biking': 5, 'skiing': 1},
  'hair_color': 'blond',
  'last_name': 'Pan'},
 {'_id': ObjectId('5dd7d5f88649564aa01036c5'),
  'age': 125,
  'ages_of_children': [13],
  'birthday': datetime.datetime(1894, 11, 22, 13, 41, 52, 422000),
  'first_name': 'Marie',
  'gender': 'f',
  'grades': {'biking': 2, 'skiing': 5},
  'hair_color': 'blond',
  'last_name': 'Curie'}]

In [54]:
coll.update_many({'first_name' : 'Marie'},{"$push" : {'ages_of_children' : 2}})

In [55]:
list(coll.find({'first_name' : 'Marie'}))

[{'_id': ObjectId('5dd7d5f88649564aa01036c5'),
  'age': 125,
  'ages_of_children': [13, 2],
  'birthday': datetime.datetime(1894, 11, 22, 13, 41, 52, 422000),
  'first_name': 'Marie',
  'gender': 'f',
  'grades': {'biking': 2, 'skiing': 5},
  'hair_color': 'blond',
  'last_name': 'Curie'}]

In [56]:
coll.update_many({'first_name' : 'Marie'},{"$push" : {'ages_of_children' : { "$each": [ 11, 14 ] } }})

In [57]:
coll.find_one({'first_name' : 'Marie'})

{'_id': ObjectId('5dd7d5f88649564aa01036c5'),
 'age': 125,
 'ages_of_children': [13, 2, 11, 14],
 'birthday': datetime.datetime(1894, 11, 22, 13, 41, 52, 422000),
 'first_name': 'Marie',
 'gender': 'f',
 'grades': {'biking': 2, 'skiing': 5},
 'hair_color': 'blond',
 'last_name': 'Curie'}

In [58]:
coll.update_one({'first_name' : 'Marie'},{"$push" : {'ages_of_children' : 14}})

In [59]:
coll.find_one({'first_name' : 'Marie'})

{'_id': ObjectId('5dd7d5f88649564aa01036c5'),
 'age': 125,
 'ages_of_children': [13, 2, 11, 14, 14],
 'birthday': datetime.datetime(1894, 11, 22, 13, 41, 52, 422000),
 'first_name': 'Marie',
 'gender': 'f',
 'grades': {'biking': 2, 'skiing': 5},
 'hair_color': 'blond',
 'last_name': 'Curie'}

In [60]:
coll.update_one({'first_name' : 'Marie'},{"$pull" : {'ages_of_children' : 14}})

In [61]:
coll.find_one({'first_name' : 'Marie'})

{'_id': ObjectId('5dd7d5f88649564aa01036c5'),
 'age': 125,
 'ages_of_children': [13, 2, 11],
 'birthday': datetime.datetime(1894, 11, 22, 13, 41, 52, 422000),
 'first_name': 'Marie',
 'gender': 'f',
 'grades': {'biking': 2, 'skiing': 5},
 'hair_color': 'blond',
 'last_name': 'Curie'}

In [62]:
coll.update_one({'first_name' : 'Marie'},{"$addToSet" : {'ages_of_children' : 14}})

In [63]:
coll.find_one({'first_name' : 'Marie'})

{'_id': ObjectId('5dd7d5f88649564aa01036c5'),
 'age': 125,
 'ages_of_children': [13, 2, 11, 14],
 'birthday': datetime.datetime(1894, 11, 22, 13, 41, 52, 422000),
 'first_name': 'Marie',
 'gender': 'f',
 'grades': {'biking': 2, 'skiing': 5},
 'hair_color': 'blond',
 'last_name': 'Curie'}

In [64]:
coll.update_one({'first_name' : 'Marie'},{"$addToSet" : {'ages_of_children' : 14}})

In [65]:
coll.find_one({'first_name' : 'Marie'})

{'_id': ObjectId('5dd7d5f88649564aa01036c5'),
 'age': 125,
 'ages_of_children': [13, 2, 11, 14],
 'birthday': datetime.datetime(1894, 11, 22, 13, 41, 52, 422000),
 'first_name': 'Marie',
 'gender': 'f',
 'grades': {'biking': 2, 'skiing': 5},
 'hair_color': 'blond',
 'last_name': 'Curie'}

Saving a file within a mongodb document

In [67]:
filepath = '/media/sf_VB_Shared/Projekte/Driverlicense/example.xlsx'
binary = open(filepath, "rb").read()
dic = {
       'filename':"example.xlsx",
       'contents' : binary
       }

In [68]:
coll.delete_many({'filename':"example.xlsx"})
coll.insert_one(dic)

In [69]:
dic_new = coll.find_one({'filename':"example.xlsx"})

In [70]:
dic_new

{'_id': ObjectId('5dd7d8da8649564aa01036c8'),

In [71]:
newFile = open('/media/sf_VB_Shared/Projekte/Driverlicense/example_new.xlsx', "wb")
newFile.write(dic_new['contents'])

8985

Saving a file using gridfs

In [72]:
from gridfs import GridFS

In [73]:
fs = GridFS(db)

In [74]:
fs.delete({'filename' : 'example.xlsx'})

In [75]:
filepath = '/media/sf_VB_Shared/Projekte/Driverlicense/example.xlsx'
file = open(filepath, "rb").read()
fs.put(file, filename='example.xlsx')

ObjectId('5dd7d99a8649564aa01036c9')

In [76]:
fs

In [77]:
from io import BytesIO
fh = fs.get_last_version('example.xlsx')
body = BytesIO(fh.read())
body.seek(0)
df = pd.read_excel(body, header=None)

In [78]:
df

          0        1
0   Spalte1  Spalte2
1       100        A
2       200        B
3       300        C
4       400        A
5       500        B
6       600        C
7       700        A
8       800        B
9       900        C
10     1000        A
11     1100        B
12     1200        C
13     1300        A
14     1400        B
15     1500        C
16     1600        A
17     1700        B
18     1800        C
19     1900        A

In [79]:
from io import BytesIO
fh = fs.get_last_version('example.xlsx')
body = BytesIO(fh.read())
body.seek(0)
newFile = open('/media/sf_VB_Shared/Projekte/Driverlicense/example_gf_new.xlsx', "wb")
newFile.write(body.read())

8985

In [80]:
#from IPython.display import Video
from ipywidgets import Video
videopath = "/media/sf_VB_Shared/Projekte/Driverlicense/SampleVideo_1280x720_1mb.mp4"
video = Video.from_file(videopath)
video

Video(value=b'\x00\x00\x00 ftypisom\x00\x00\x02\x00isomiso2avc1mp41\x00\x00\x00\x08free\x00\x10\x0bKmdat\x01\x…

In [81]:
file = open(videopath, "rb").read()
fs.put(file, filename='video_example.mp4')

ObjectId('5dd7d9a38649564aa01036cb')

In [82]:
fh = fs.get_last_version('video_example.mp4')
newFile = open('/media/sf_VB_Shared/Projekte/Driverlicense/video_gf.mp4', "wb")
newFile.write(BytesIO(fh.read()).read())

1055736

Aggregation pipeline

In [83]:
coll.delete_many({})
coll.insert_many(list_of_dics)

In [84]:
cur = coll.aggregate([{'$match' : {}}])

In [85]:
pd.DataFrame(list(cur))

,_id,age,ages_of_children,first_name,gender,grades,last_name
0,5dd7d5f88649564aa01036c4,26,"[10, 12]",Peter,m,"{'skiing': 1, 'biking': 5}",Pan
1,5dd7d5f88649564aa01036c5,25,[13],Marie,f,"{'skiing': 5, 'biking': 2}",Curie
2,5dd7d5f88649564aa01036c6,29,"[7, 7, 7]",Julius,m,"{'skiing': 3, 'biking': 4}",Cäsar
3,5dd7d5f88649564aa01036c7,29,[0],Hans,m,"{'skiing': 6, 'biking': 6}",Dampf

In [86]:
pd.DataFrame(list(coll.aggregate([{'$match' : {'age': {'$gt' : 25}}}])))

,_id,age,ages_of_children,first_name,gender,grades,last_name
0,5dd7d5f88649564aa01036c4,26,"[10, 12]",Peter,m,"{'skiing': 1, 'biking': 5}",Pan
1,5dd7d5f88649564aa01036c6,29,"[7, 7, 7]",Julius,m,"{'skiing': 3, 'biking': 4}",Cäsar
2,5dd7d5f88649564aa01036c7,29,[0],Hans,m,"{'skiing': 6, 'biking': 6}",Dampf

In [87]:
pd.DataFrame(list(coll.aggregate([
                                  {'$match' : {'age': {'$gt' : 25}}},
                                  {'$project' : {'_id' : 0, 'age' : 1 , 'first_name' : 1}}
                                 ])))

   age first_name
0   26      Peter
1   29     Julius
2   29       Hans

In [89]:
pd.DataFrame(list(coll.aggregate([
                                  {'$match' : {'age': {'$gt' : 25}}},
                                  {'$project' : {'_id' : 0, 'age' : 1 , 'first_name' : 1, 'biking_grade' : '$grades.biking'}}
                                 ])))

   age  biking_grade first_name
0   26             5      Peter
1   29             4     Julius
2   29             6       Hans

In [90]:
pd.DataFrame(list(coll.aggregate([
                                  {'$match' : {}},
                                  {'$project' : {'_id' : 0}},
                                  {'$group' : {'_id' : {'Gender' : '$gender', 'Age' : '$age'}}}
                                 ])))

                          _id
0  {'Gender': 'f', 'Age': 25}
1  {'Gender': 'm', 'Age': 29}
2  {'Gender': 'm', 'Age': 26}

In [91]:
pd.DataFrame(list(coll.aggregate([
                                  {'$match' : {}},
                                  {'$project' : {'_id' : 0}},
                                  {'$group' : {'_id' : {'Gender' : '$gender'},
                                               'Total_Age' : {'$sum': '$age'},
                                               'Mean_Age' : {'$avg': '$age'},
                                               }
                                  } 
                                  ])))

   Mean_Age  Total_Age              _id
0      25.0         25  {'Gender': 'f'}
1      28.0         84  {'Gender': 'm'}

In [92]:
pd.DataFrame(list(coll.aggregate([
                                  {'$match' : {}},
                                  {'$project' : {'_id' : 0}},
                                  {'$group' : {'_id' : {'Gender' : '$gender'},
                                               'Total_Age' : {'$sum': '$age'},
                                               'Mean_Age' : {'$avg': '$age'},
                                               }
                                  },
                                  {'$project' : {'Mean_Age':1, 'Total_Age' :1, 'Gender' : '$_id.Gender','_id' :0}},
                                  ])))

  Gender  Mean_Age  Total_Age
0      f      25.0         25
1      m      28.0         84

In [93]:
pd.DataFrame(list(coll.aggregate([
                                  {'$match' : {}},
                                  {'$project' : {'_id' : 0}},
                                  {'$group' : {'_id' : {'Gender' : '$gender'},
                                               'Total_Age' : {'$sum': '$age'},
                                               'Mean_Age' : {'$avg': '$age'},
                                               }
                                  },
                                  {'$project' : {'Mean_Age':1, 'Total_Age' :1, 'Gender' : '$_id.Gender','_id' :0}},
                                  {'$sort' : {'Mean_Age':-1}}
                                  ])))

  Gender  Mean_Age  Total_Age
0      m      28.0         84
1      f      25.0         25

In [94]:
pd.DataFrame(list(coll.aggregate([{'$match' : {}},
                                 {'$unwind' : '$ages_of_children'}])))

,_id,age,ages_of_children,first_name,gender,grades,last_name
0,5dd7d5f88649564aa01036c4,26,10,Peter,m,"{'skiing': 1, 'biking': 5}",Pan
1,5dd7d5f88649564aa01036c4,26,12,Peter,m,"{'skiing': 1, 'biking': 5}",Pan
2,5dd7d5f88649564aa01036c5,25,13,Marie,f,"{'skiing': 5, 'biking': 2}",Curie
3,5dd7d5f88649564aa01036c6,29,7,Julius,m,"{'skiing': 3, 'biking': 4}",Cäsar
4,5dd7d5f88649564aa01036c6,29,7,Julius,m,"{'skiing': 3, 'biking': 4}",Cäsar
5,5dd7d5f88649564aa01036c6,29,7,Julius,m,"{'skiing': 3, 'biking': 4}",Cäsar
6,5dd7d5f88649564aa01036c7,29,0,Hans,m,"{'skiing': 6, 'biking': 6}",Dampf